.profile-info{
  background: rgba($color-black,.8);
  color: white(1);
  padding-top: $base-margin + px;
  padding-bottom: $base-margin + px;
  &__avatar{
    // margin-bottom: 42px;
    @media(max-width: 992px){
      display: table;
      margin: 0 auto 20px;
    }
  }
  &__admin-panel{
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    padding: 12px;
    @media(max-width: 992px){
      position: static;
      width: 100%;
    }
  }
  &__title{
    text-align: center;
    font-size: 20px;
    font-family: $roboto;
    padding: 1px;
    margin-bottom: 20px;
    @media(max-width: 992px){
      margin-bottom: 20px;
      margin-top: 20px;
    }
    &.puple{
      background: #5669B7;
    }
    &.green{
      background: $color-green;
    }
    &.orange{
      background: $color-orange;
    }
  }
  &__icon{
    margin-right: 10px;
  }
  &__list{
    @media(max-width: 992px){
      margin-bottom: 20px;
    }
  }
  &__item{
    margin-bottom: 4px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__fun-button{
    margin-bottom: 16px;
    &:last-child{
      @media(min-width: 992px){
        margin-bottom: 0;
      }
    }
    &.mb0{
      // margin-bottom: 0 !important;
    }
  }
  &__row{
    display: table;
    @media(max-width: 992px){
      display: block;
    }
  }
  &__col{
    display: table-cell;
    vertical-align: top;
    float: none;
    @media(max-width: 992px){
      // float: left;
      display: block;
    }
  }
}
