nav.mb0.pr.db(block="pagination")
  a(href="#" elem="prev-button").db.disabled
  ul(elem="list").lsn.mb0.clearfix.table-center
    li(elem="item").pull-left.active: a(href='#' elem="link").db 1
    li(elem="item").pull-left: a(href='#' elem="link").db 2
    li(elem="item").pull-left: a(href='#' elem="link").db 3
    li(elem="item").pull-left: a(href='#' elem="link").db 4
    li(elem="item").pull-left: a(href='#' elem="link").db 5
    li(elem="item").pull-left: span(elem="link").db ...
    li(elem="item").pull-left: a(href='#' elem="link").db 100
  a(href="#" elem="next-button").db
