.pagination{
  margin-top: 0px + $base-margin;
  margin-bottom: 0px + $base-margin;
  // margin-bottom: 3px;
  min-height: 40px;
  @media(max-width: 768px){
    text-align: center;
  }
  &.mb0{
    margin-bottom: 0 !important;
  }
  &__prev-button,
  &__next-button{
    width: 50px;
    height: 40px;
    background: $color-red;
    position: absolute;
    top: 0;
    &:hover{
      background: darken($color-red, 10%);
    }
    &.disabled{
      background: $color-gray;
      &:before, &:after{
        background: $color-bold;
      }
    }
    &:before, &:after{
      position: absolute;
      content: '';
      background: white(1);
      height: 3px;
      width: 15px;
      top: 50%;
      left: 50%;
      border-radius: 2px;
      margin-top: 3px;
      margin-left: -6px;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
      margin-top: -6px;
    }
    @media(max-width: 768px){
      position: relative;
      display: inline-block;
    }
  }
  &__prev-button{
    left: 0;
  }
  &__next-button{
    right: 0;
    &:before{
      transform: rotate(-45deg);
    }
    &:after{
      transform: rotate(45deg);
      // margin-top: 5px;
    }
  }
  &__list{
    padding: 0 50px;
    display: none;
    @media(min-width: 769px){
      display: table;
    }
  }
  &__item{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    &.active{
      &-list__link{
        background: $color-red;
        color: white(1);
        &:hover{
          background: darken($color-red, 10%);
        }
      }
    }
  }
  &__link{
    // background: white(1);
    height: 40px;
    color: $color-bold;
    background: $color-gray;
    padding: 10px 15px;
    &:hover{
      text-decoration: none;
      color: white(1);
      background: $color-red;
    }
  }
}
