extends meta/_layout

block content
  .hot-news
    .container
      .row
        .col-sm-12.col-md-2
          a(href="#").hot-news__button.btn.btn-red.fluid Горячие новости
        .col-sm-12.col-md-10
          .hot-news__render.pr
            p.hot-news__text.text-overflow.transform-middle Горячие новости дня затоплен служба Яндекс. Рефераты предназначена  Полнофункциональная Система Управления пользо...
            button(type="button").btn.hot-news__prev.no-outline
            button(type="button").btn.hot-news__next.no-outline
