div(block="admin-edit").pull-right
  ul(elem="list").lsn.mb0.pl0
    li(elem="item").dib: a(href="#" elem="link"): span(elem="icon").icon-pencil
    li(elem="item").dib: a(href="#" elem="link"): span(elem="icon").icon-cancel
