div(block="white-block")
  h5(elem="sidebar-title") <span class="icon-users"></span> Пользователи онлайн
  div(block="user-online")
    .row(elem="row")
      .col-xs-2(elem="col")
        span(elem="icon").icon-eye
      .col-xs-9(elem="col")
        span(elem="text").db Всего на сайте: <span elem="label">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    .row(elem="row")
      .col-xs-2(elem="col")
        span(elem="icon").icon-eye-slash
      .col-xs-9(elem="col")
        span(elem="text").db Невидимок: <span elem="label">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    .row(elem="row")
      .col-xs-2(elem="col")
        span(elem="icon").icon-user
      .col-xs-9(elem="col")
        span(elem="text").db Пользователей: <span elem="label">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    .row(elem="row")
      .col-xs-2(elem="col")
        span(elem="icon").icon-github
      .col-xs-9(elem="col")
        span(elem="text").db Роботов: <span elem="label">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
