.white-block
  h5.white-block__sidebar-title.mt0 <span class="icon-award"></span> Выбор редакции
  .editors-choice.pr
    img(src="img/img_demo_sidebar_image.jpg" alt="editors choice img").editors-choice__img
    span.editors-choice__text Ай фон на запчасти подходи Ай фон на запчасти подходи Ай фон на запчасти подходи
