.white-block
  h5.white-block__sidebar-title.mt0 <span class="icon-chart-bar"></span> Апдейты
  .sidebar-updates
    .media.sidebar-updates__media
      .media-left.media-middle
        span.sidebar-updates__ya-color.sidebar-updates__big-font Я
      .media-body
        span.db.sidebar-updates__text Апдейты <span class="sidebar-updates__ya-color">Я</span>ndex ТИЦ
        small.db.sidebar-updates__time <span class="sidebar-updates__time-orange">09.05.2205</span> <span class="icon-angle-left"></span> <span class="sidebar-updates__time-orange">05.06.2155</span> <span class="icon-angle-left"></span> <span class="sidebar-updates__time-orange">06.08.5136</span>
    .media.sidebar-updates__media
      .media-left.media-middle
        span.sidebar-updates__ya-color.sidebar-updates__big-font Я
      .media-body
        span.db.sidebar-updates__text Апдейты <span class="sidebar-updates__ya-color">Я</span>ndex ТИЦ
        small.db.sidebar-updates__time <span class="sidebar-updates__time-orange">09.05.2205</span> <span class="icon-angle-left"></span> <span class="sidebar-updates__time-orange">05.06.2155</span> <span class="icon-angle-left"></span> <span class="sidebar-updates__time-orange">06.08.5136</span>
    .media.sidebar-updates__media
      .media-left.media-middle
        span.sidebar-updates__ya-color.sidebar-updates__big-font Я
      .media-body
        span.db.sidebar-updates__text Апдейты <span class="sidebar-updates__ya-color">Я</span>ndex ТИЦ
        small.db.sidebar-updates__time <span class="sidebar-updates__time-orange">09.05.2205</span> <span class="icon-angle-left"></span> <span class="sidebar-updates__time-orange">05.06.2155</span> <span class="icon-angle-left"></span> <span class="sidebar-updates__time-orange">06.08.5136</span>
    .media.sidebar-updates__media
      .media-left.media-middle
        span.sidebar-updates__google-color.sidebar-updates__big-font G
      .media-body
        span.db.sidebar-updates__text Апдейты <span class="sidebar-updates__google-color">G</span>oogle ТИЦ
        small.db.sidebar-updates__time <span class="sidebar-updates__time-orange">09.05.2205</span> <span class="icon-angle-left"></span> <span class="sidebar-updates__time-orange">05.06.2155</span> <span class="icon-angle-left"></span> <span class="sidebar-updates__time-orange">06.08.5136</span>
