-var user = ['Administrator', 'TDSko', 'Pasha', 'Sasha', 'SuperMegaDuperUser']

.white-block
  h5.white-block__sidebar-title.mt0 <span class="icon-comment-1"></span> Комментарии
  .sidebar-comments
    -for(var i = 0; i < 6; i++)
      .sidebar-comments__item
        .row-mini
          .col-xs-4
            img(src="img/img_sidebar_comment_avatar.jpg" alt="img sidebar comment avatar").sidebar-comments__avatar.img-responsive
          .col-xs-8
            span.db.sidebar-comments__autor <strong>Написал(а):</strong> <a href="#" class="link sidebar-comments__link">#{user[Math.floor(Math.random() * ((user.length - 1) - 0 + 1)) + 0]}</a>
            span.db.sidebar-comments__time <strong>Дата:</strong> Вчера в 0#{Math.floor(Math.random() * (9 - 1 + 1)) + 1}.0#{Math.floor(Math.random() * (9 - 1 + 1)) + 1}.#{Math.floor(Math.random() * (2100 - 2000 + 1)) + 2000}
            span.db.sidebar-comments__demo-comment <strong>К новости:</strong> <span class="sidebar-comments__text cur" data-toggle="tooltip" data-placement="top" title="Дная затоплен служба Яндекс. ываыдвшао, Рефераты предназначена ываыва ываыва ываыва ываываварв ываыва затоплен служба затоплен служба">3XLOVE - Скрипт сайта знакомств сайта знакомств</span>
