html{
  background: #192637;
}

body{
  font-family: $regular;
  color: $color;
  background: $color-gray;

  // -webkit-font-smoothing: subpixel-antialiased !important;
  // -webkit-backface-visibility: hidden;
  // -moz-backface-visibility:    hidden;
  // -ms-backface-visibility:     hidden;
}

main{
  background: $color-gray;
  // height: 3000px;
}

:--heading{
  font-family: $roboto;
}

h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
h6{

}

a{
  color: $color-orange;
}

a,
.btn,
.nav-search__find,
.nav-search__login{
  transition: all 0.17s ease-in-out;
}

a.link{
  color: $color-orange;
  text-decoration: none;
  &:hover{
    color: $color-orange;
    text-decoration: underline;
  }
}

.dark-blue-link{
  color: #192637;
  text-decoration: none;
  &:hover{
    color: lighten(#192637, 5%);
    text-decoration: underline;
  }
}

.mobile-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: red;
  z-index: 1;
  box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.32);
}

.top-line-decorator{
  background: url(../img/img_top_line_decorator.jpg) top center repeat-Y;
  height: 3px;
}

.text-light{
  font-family: $light;
}

.text-bold{
  font-family: $bold;
}

.hover-transform-before{
  @extend %hover-transform-before;
}

.hover-transform-after{
  @extend %hover-transform-after;
}
