html{
  background: #192637;
}

body{
  font-family: $open-sans;
  font-weight: $regular;
  color: $color;
  background: $color-gray;
}

main{
  background: $color-gray;
  // height: 3000px;
}

h1, h2, h3, h4, h5, h6{
  font-family: $bold;
}

a,
.btn,
.nav-search__find,
.nav-search__login{
  transition: all 0.17s ease-in-out;
}

.mobile-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: red;
  z-index: 1;
}

.top-line-decorator{
  background: url(../img/img_top_line_decorator.jpg) top center repeat-Y;
  height: 3px;
}
