.open-left-mobile-menu,
.open-right-mobile-menu{
  @media(max-width: 992px){
    body{
      position: relative;
      overflow-x: hidden;
      // box-shadow: 1px 1px 1px 1px black(.3);
    }
    .mobile-overlay{
      display: block;
    }
    .open-menu-position{
      position: static !important;
    }
  }
}

.open-left-mobile-menu{
  @media(max-width: 992px){
    body{
      left: 400px;
    }
    .nav-search{
      // display: none;
    }
    .nav-main{
      position: absolute;
      top: 0;
      left: -400px;
      width: 400px;
      background: #192637;
      display: block;
    }
  }
  @media(max-width: 500px){
    body{
      left: 300px;
    }
    .nav-main{
      left: -300px;
      width: 300px;
    }
  }
  @media(max-width: 500px){
    body{
      left: 250px;
    }
    .nav-main{
      left: -250px;
      width: 250px;
    }
  }
}

.open-right-mobile-menu{
  @media(max-width: 992px){
    body{
      right: 400px;
    }
    .nav-search{
      position: absolute;
      top: 0;
      right: -400px;
      width: 400px;
      background: #192637;
      display: block;
      float: none;
      .dropdown{
        float: none;
        > a{
          display: none;
        }
      }
      .dropdown-menu{
        opacity: 1;
        position: static;
        width: 100%;
        box-shadow: none;
      }
    }
  }
  @media(max-width: 500px){
    body{
      right: 300px;
    }
    .nav-search{
      right: -300px;
      width: 300px;
    }
  }
  @media(max-width: 400px){
    body{
      right: 250px;
    }
    .nav-search{
      right: -250px;
      width: 250px;
    }
  }
}

#mobile-menu{
  @media(min-width: 992px){
    display: none;
  }
  .panel{
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
  }
  .list-group-item{
    background: #192637;
    color: #FFF;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    padding-right: 40px;
    border-bottom: 1px #fff solid;
    &:first-child, &:last-child{
      border-radius: 0;
    }
  }
  .mobile{
    &__link__first{
      &:hover{
        color: #FFF;
        background: $color-orange;
      }
      &[aria-expanded="true"]{
        color: #FFF;
        background: $color-orange;
      }
    }
    &__link__second{
      background: #384552;
      &[aria-expanded="true"]{
        color: #FFF;
        background: $color-orange;
      }
    }
    &__link__third{
      background: #6C707B;
    }
    &__has-menu{
      position: relative;
      // background: red;
      &:before, &:after{
        position: absolute;
        content: '';
        right: 22px;
        top: 50%;
        // margin-top: 0px;
        background: #fff;
        height: 1px;
        width: 10px;
      }
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
        right: 15px;
      }
      &[aria-expanded="true"]{
        &:before{
          // transform: rotate(45deg);
          right: 15px;
        }
        &:after{
          // transform: rotate(-45deg);
          right: 21px;
        }
      }
    }
  }
}

.open-menu__button{
  position: relative;
  // padding: 10px;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: white(0);
  border: 1px solid white(0);
  // border-radius: 4px;
}

.open-menu__span{
  background: white(1);
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 3px;
  &:last-child{
    margin-bottom: 0;
  }
}

.nav-main__button-label{
  // float: left;
  // margin-top: 15px;
  margin-left: 15px;
}

.login-form__button-label{
  margin-right: 15px;
  // float: right;
  // margin-top: 15px;
  // float: left;
  // margin-top: -4px;
  // margin-right: 15px;
}

header.main{
  padding-bottom: 28px;
  padding-top: 22px;
  background: white(1);
}

.header-logo{
  &__link{
    margin-bottom: 14px;
  }
  &__image{

  }
  &__description{
    font-size: 15px;
  }
}

.click-block{
  padding-top: 12px;
  &__image{

  }
}

nav.main{
  // margin-bottom: 30px;
  background: $color-black;
}

.affix-wrap{
  height: 50px;
  margin-bottom: 30px;
  background: $color-black;
}

.nav-afix{
  &.affix{
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    @media(max-width: 992px){
      position: static;
      // position: static !important;
    }
  }
}

.nav-main{
  @extend %float-left;
  @media(max-width: 992px){
    display: none;
  }
}

.first-menu{
  &__list{

  }
  &__item{
    // border-top: 2px solid transparent;
    float: left;
    @media(max-width: 992px){
      float: none;
    }
    &:first-child{
      .first-menu__link{
        padding-left: 15px !important;
      }
    }
  }
  &__link{
    border-top: 2px solid transparent;
    font-size: 15px;
    padding: 14px 18px 13px 10px;
    color: white(1);
    position: relative;
    &:hover{
      border-color: $color-orange;
      color: $color-orange;
    }
  }
  &__has-menu{
    // position: relative;
    > .first-menu__link{
      &:hover{
        &:after, &:before{
          background: $color-orange;
          transition: all 0.17s ease-in-out;
        }
      }
      &:after, &:before{
        position: absolute;
        content:"";
        background: white(1);
        height: 2px;
        width: 7px;
        top:50%;
        // margin-top: -3px;
        right: 8px;
      }
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
        right: 4px;
      }
    }
    &:hover{
      > .first-menu__link{
        border-color: $color-orange;
        color: $color-orange;
        &:after, &:before{
          background: $color-orange;
          // transition: all 0.17s ease-in-out;
        }
      }
      > .second-menu__list{
        @extend %hover-transform-after;
        @media(max-width: 992px){
          display: block;
        }
      }
    }
  }
}

.second-menu{
  &__list{
    position: absolute;
    min-width: 200px;
    top: 100%;
    box-shadow: 1px 1px 1px 1px black(.3);
    @extend %hover-transform-before;
    z-index: 2;
    @media(max-width: 992px){
      position: static;
      display: none;
    }
  }
  &__item{
    // position: relative;
    &:last-child{
      .second-menu__link{
        border-bottom: none;
      }
    }
  }
  &__link{
    font-size: 15px;
    background: rgba($color-black, .8);
    padding: 14px 25px 14px 15px;
    color: white(1);
    border-bottom: 1px solid $color;
    position: relative;
    &:hover{
      color: $color-orange;
    }
  }
  &__has-menu{
    position: relative;
    > .second-menu__link{
      &:hover{
        &:after, &:before{
          background: $color-orange;
          transition: all 0.17s ease-in-out;
        }
      }
      &::after, &::before{
        position: absolute;
        content:"";
        background: white(1);
        height: 2px;
        width: 7px;
        top:50%;
        right: 10px;
        margin-top: -2px;
      }
      &::before{
        transform: rotate(45deg);
      }
      &::after{
        transform: rotate(-45deg);
        right: 10px;
        margin-top: 2px;
      }
    }
    &:hover{
      > .second-menu__link{
        color: $color-orange;
        &:after, &:before{
          background: $color-orange;
          // transition: all 0.17s ease-in-out;
        }
      }
      > .third-menu__list{
        @extend %hover-transform-after;
        @media(max-width: 992px){
          display: block;
        }
      }
    }
  }
}

.third-menu{
  &__list{
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 200px;
    @extend %hover-transform-before;
    z-index: 2;
    @media(max-width: 992px){
      position: static;
      display: none;
    }
  }
  &__item{
    &:last-child{
      .third-menu__link{
        border-bottom:none;
      }
    }
  }
  &__link{
   font-size: 15px;
   background: rgba($color-black, .8);
   padding: 14px 14px 14px 15px;
   color: white(1);
   border-bottom: 1px solid $color;
   &:hover{
     color: $color-orange;
   }
  }
}

.nav-search{
  float: right;
  @media(max-width: 992px){
    display: none;
  }
  .dropdown{
    float: left;
    // position: static !important;
    position: static;
  }
  .dropdown-menu{
    z-index: 1;
    border: none;
    margin: 0;
    border-radius: 0;
    display: block !important;
    @extend %hover-transform-before;
  }
  .open{
    .dropdown-menu{
      @extend %hover-transform-after;
    }
    .nav-search__find,
    .nav-search__login{
      border-color: $color-orange;
      color: $color-orange;
    }
  }
  &__find,
  &__login{
    color: white(1);
    border-top: 2px transparent solid;
    &:only-hover{
      color: $color-orange;
      border-color: $color-orange;
    }
    &:focus{
     color: #fff;
     border-color: white(0);
    }
  }
  &__find{
    padding: 11px 4px 9px;
    font-size: 20px;
  }
  &__login{
    padding: 13px 20px 14px;
    font-size: 15px;
  }
}

.login-form,
.search-form{
  background: rgba(25,38,55,.8);
  // position: absolute;
  // top: 100%;
  left: 0px;
  right: 0px;
  @media(min-width: 992px){
    left: 15px;
    right: 15px;
  }
}

.login-form{
  color: white(1);
  &__login,
  &__password{
    border: 2px #6c707c solid;
    background: transparent;
    height: 46px;
    padding-left: 20px;
    margin-bottom: 20px;
    &::placeholder {
      color: white(1);
    }
    &:--enter{
      border-color: white(1);
    }
  }
  &__login{

  }
  &__password{

  }
  &__description{
    font-family: $light;
  }
  &__col{
    @media(min-width: 992px){
      width: 33.333333%;
      height: 100%;
      display: table-cell;
      vertical-align: top;
      position: relative;
      float: none;
    }
  }
  &__title{
    margin-bottom: 25px;
  }
  &__register{
    margin-bottom: 20px;
    padding: 12px;
    @media(min-width: 992px){
      position: absolute;
      bottom: 0;
      right: 15px;
      left: 15px;
      width: auto;
    }
  }
  &__btn{
    margin-bottom: 20px;
    padding: 12px;
  }
  &__restore{
    margin-top: 11px;
    color: $color-red;
    &:hover{
      color: $color-red;
    }
    @media(max-width: 992px){
      margin-top: 0;
      text-align: center;
    }
  }
}

.search-form{
  padding: 10px 15px;
  &__form{

  }
  &__ico{
    color: white(1);
    font-size: 20px;
    position: absolute;
    top: 6px;
    left: 10px;
  }
  &__field{
    height: 40px;
    background: transparent;
    border: 1px $color-orange solid;
    color: white(1);
    padding-left: 40px;
    &::placeholder {
      color: white(1);
    }
    &::-ms-clear {
      display: none;
    }
  }
  &__submit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #192637;
    // border-width: 0 0 0 1px;
    border: 1px $color-orange solid;
    color: white(1);
    padding: 0 30px;
    &:hover{
      background: $color-orange;
    }
    @media(min-width:992px){
      background: transparent;
    }
  }
}


.nav-main__button-label,
.login-form__button-label{
  // color: white(1);
}

footer.main{
  background: $color-bold;
  @media(max-width: 768px){
    padding-bottom: 20px;
  }
}

.footer-subs{
  margin-top: 45px;
  border: 1px $color-black solid;
  padding: 6px 28px 14px;
  &__title{
    font-size: 16px;
    color: $color-orange;
  }
  &__description{

  }
  &__input{
    height: 34px;
    margin-top: 25px;
    padding-left: 20px;
    border: 1px #d9d9d9 solid;
  }
  &__btn{
    margin-top: 25px;
  }
}

.footer-social{
  &__title{
    margin-bottom: 0;
    margin-top: 8px;
    font-family: $light;
    font-size: 13px;
  }
  &__item{
    padding-top: 37px;
    border-bottom: 1px $color-black solid;
    padding-bottom: 10px;
  }
}

.footer-last-user,
.footer-tags{
  margin-bottom: 20px;
}

.footer-last-user__title,
.footer-tags__title{
  position: relative;
  margin-bottom: 37px;
  &:after-c{
    position: absolute;
    left: 0;
    bottom: -17px;
    background: $color-black;
    width: 68px;
    height: 1px;
  }
}

.footer-last-user{
  padding-top: 45px;
  &__img{
    margin-bottom: 20px;
  }
  &__text{
    font-size: 10px;
    font-family: $light;
    margin-bottom: 4px;
    color: #ccc;
  }
  &__status{
    color: #25CE56;
    margin-left: 5px;
    &.off{
      color: #FB3131;
    }
  }
  &__title{
    font-size: 16px;
    // margin-bottom: 0;
  }
}

.footer-tags{
  padding-top: 45px;
  &__title{
    font-size: 16px;
  }
  &__item{
    font-size: 11px;
    color: #b9b9b9;
    // display: inline-block;
    padding: 8px 10px;
    background: #2a3b52;
    // border-radius: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    float: left;
    font-family: $light;
    &:hover{
      text-decoration: none;
      color: white(1);
      background: $color-orange;
    }
  }
  // &__buttons{
  //   margin-top: 20px;
  // }
  // &__show-text{

  // }
}

.show-all-tags{
  margin-bottom: 20px;
}

.footer-copyright{
  background: $color-black;
  padding-top: 27px;
  padding-bottom: 27px;
}

.site-working{
  @extend %float-left;
  margin-right: 22px;
  @media(max-width: 1200px){
    display: table;
    margin: 0 auto 20px;
    float: none;
  }
  &__title{
    font-size: 11px;
    margin-right: 5px;
  }
  &__icon{
    font-size: 20px;
    margin-top: -5px;
    display: inline-block;
    margin-right: 2px;
  }
}

.copyright-text{
  @extend %float-left;
  font-size: 12px;
  margin-right: 15px;
  @media(max-width: 1200px){
    display: table;
    margin: 0 auto 20px;
    float: none;
  }
  &__item{
    @extend %float-left;
    font-size: 12px;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
}

.footer-link{
  @extend %float-left;
  @media(max-width: 1200px){
    display: block;
    text-align: center;
    margin-bottom: 20px;
    float: none;
  }
  &__item{
    @extend %float-left;
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    @media(max-width: 1200px){
      display: inline-block;
      // text-align: center;
      // margin: 0 auto 20px;
      float: none;
    }
  }
  &__link{
    font-size: 12px;
    color: $color-orange;
    &:hover{
      color: $color-orange;
    }
  }
}

.footer-ico{
  @extend %float-right;
  @media(max-width: 1200px){
    display: table;
    margin: 0 auto;
    float: none;
    margin-top: 7px;
  }
  &__item{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    text-align: center;
    line-height: 30px;
    background: #394553;
    color: white(1);
    width: 30px;
    height: 30px;
    margin-top: -7px;
    font-size: 16px;
    &.vk{
      &:hover{
        color: $color-vk;
        // background: $color-orange;
      }
    }
    &.odnoklassniki{
      &:hover{
        color: $color-odnoklassniki;
        // background: $color-orange;
      }
    }
    &.twitter{
      &:hover{
        color: $color-mail;
        // background: $color-orange;
      }
    }
    &.google{
      &:hover{
        color: $color-google;
        // background: $color-orange;
      }
    }
    &.facebook{
      &:hover{
        color: $color-facebook;
        // background: $color-orange;
      }
    }
    &.rss{
      &:hover{
        // color: white(1);
        color: $color-orange;
      }
    }
  }
}

.hot-news{
  margin-bottom: 30px;
  &__button{
    padding: 9px 12px;
    @media(max-width:992px){
      margin-bottom: 20px;
    }
  }
  &__render{
    background: #6C707C;
    padding-right: 75px;
    height: 40px;
    padding-left: 20px;
  }
  &__text{
    color: #fff;
  }
  &__prev,
  &__next{
    // height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    // background: red;
    background: transparent;
    width: 34px;
    &:hover{
      background: darken(#6C707C, 10%);
    }
    &:before, &:after{
      content:'';
      position: absolute;
      top: 50%;
      // margin-top: -5px;
      left: 10px;
      background: #FFF;
      width: 15px;
      height: 1px;
    }
    &:before{
      margin-top: 5px;
    }
    &:after{
      margin-top: -5px;
    }
  }
  &__prev{
    right: 34px;
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
      // margin-top: -10px;
    }
  }
  &__next{
    &:before{
      transform: rotate(-45deg);
    }
    &:after{
      transform: rotate(45deg);
      // margin-top: -10px;
    }
  }
  &__text{
    &:hover{
      color: #FFF;
    }
  }
}

.white-block{
  background: #FFF;
  box-shadow: 0px 0px 7px 0px black(.17);
  padding: 26px 30px 30px 30px;
  margin-bottom: 32px;
  @media(max-width:768px){
    padding: 20px;
  }
  &__title{
    padding-bottom: 12px;
    margin-bottom: 15px;
    color: $color-orange;
    border-bottom: 1px #f1f1f1 solid;
    // font-size: 24px;
    font-family: $roboto;
  }
  &__sidebar-title{
    padding-bottom: 16px;
    margin-bottom: 15px;
    color: $color-red;
    border-bottom: 1px #f1f1f1 solid;
    // font-size: 24px;
    font-family: $roboto;
  }
  &__text{
    // font-size: 13px;
    color: #6C707C;
  }
}

.welcome-block{
  .white-block{
    &__title{
      // font-size: 30px;
    }
  }
}

.forums-answer{
  &__wrap{

  }
  &__ico{
    font-size: 20px;
    color: #B1B2B7;
  }
  &__item{
    border-bottom: 1px #f1f1f1 solid;
    margin-bottom: 14px;
    padding-bottom: 15px;
  }
  &__text{
    font-size: 13px;
    color: $color-orange;
  }
  &__title{
    // font-size: 18px;
    color: #192637;
    margin-bottom: 10px;
    // font-family: $open-sans;
  }
  &__footer{
    margin-bottom: 1px;
    margin-top: 21px;
    &__text{
      font-size: 12px;
      color: #B1B2B7;
    }
    &__count{
      color: #192637;
      margin-left: 5px;
    }
  }
}

.editors-choice{
  &__wrap{

  }
  &__img{
    // width: 100%;
    @extend %fluid;
    margin-top: 14px;
  }
  &__text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #192637;
    background: white(.7);
    font-size: 16px;
    padding: 14px 20px;
  }
}

.last-news{
  &__wrap{

  }
  &__item{
    border-bottom: 1px #f1f1f1 solid;
    margin-bottom: 13px;
    padding-bottom: 14px;
  }
  &__title{
    // font-size: 18px;
    color: #192637;
    margin-bottom: 12px;
    margin-top: 3px;
    line-height: 22px;
    // font-family: $open-sans;
  }
  &__img{
    margin-top: 8px;
    @media(max-width: 992px){
      display: table;
      margin: 0 auto 20px;
    }
  }
  &__text{
    color: $color-orange;
    font-size: 12px;
  }
  &__ico{
    font-size: 20px;
    color: #919191;
  }
  &__demo-text{
    margin-top: 20px;
    &--link{
      // color: $color-orange;
    }
  }
}

.sidebar-login-form{
  &__input{
    border:1px #d9d9d9 solid;
    font-size: 12px;
    height: 40px;
    margin-bottom: 20px;
    background: #F7F7F7;
    padding: 0 20px;
    &::placeholder{
      color: #999;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      border-color: darken(#d9d9d9, 15%);
      // @extend %outline-none;
    }
  }
  &__link-text{
    margin-bottom: 18px;
  }
  &__forgot{
    font-size: 12px;
    margin-top: 1px;
  }
  &__label{
    font-size: 12px;
  }
  &__enter{
    padding: 14px 0;
  }
  &__register{
    padding: 14px 0;
  }
}

.sidebar-subscribe{
  &__image{
    margin-top: 31px;
    margin-bottom: 31px;
  }
  &__button{
    padding: 14px;
  }
}

.sidebar-comments{
  &__avatar{
    // @extend %fluid;
  }
  &__item{
    border-bottom: 1px #eee solid;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &__autor,
  &__time,
  &__demo-comment{
    font-size: 12px;
  }
  &__autor{
    // margin-top: -4px;

  }
  &__time{

  }
  &__demo-comment{
    margin-top: 6px;
    line-height: 15px;
  }
  &__link{
    font-size: 12px;
  }
  &__text{
    color: #192637;
  }
}

.pagination{
  margin-top: 20px;
  // margin-bottom: 3px;
  @media(max-width: 768px){
    text-align: center;
  }
  &-previous__button,
  &-next__button{
    width: 50px;
    height: 40px;
    background: $color-red;
    position: absolute;
    top: 0;
    &:hover{
      background: darken($color-red, 10%);
    }
    &.disabled{
      background: #f1f1f1;
      &:before, &:after{
        background: #394553;
      }
    }
    &:before, &:after{
      position: absolute;
      content: '';
      background: #fff;
      height: 3px;
      width: 15px;
      top: 50%;
      left: 50%;
      border-radius: 2px;
      margin-top: 3px;
      margin-left: -6px;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
      margin-top: -6px;
    }
    @media(max-width: 768px){
      position: relative;
      display: inline-block;
    }
  }
  &-previous__button{
    left: 0;
  }
  &-next__button{
    right: 0;
    &:before{
      transform: rotate(-45deg);
    }
    &:after{
      transform: rotate(45deg);
      // margin-top: 5px;
    }
  }
  &-list{
    padding: 0 50px;
    display: none;
    @media(min-width: 768px){
      display: table;
    }
  }
  &-list__item{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    &.active{
      &-list__link{
        background: $color-red;
        color: #fff;
        &:hover{
          background: darken($color-red, 10%);
        }
      }
    }
  }
  &-list__link{
    // background: #fff;
    color: #394553;
    background: #f1f1f1;
    padding: 10px 15px;
    &:hover{
      text-decoration: none;
      color: #fff;
      background: $color-red;
    }
  }
}

