%hover-transform-before{
  opacity: 0;
  visibility: visible;
  @media(min-width: 992px){
    max-width: 0;
    max-height: 0;
    transform-origin: 0 0;
    transform: perspective(600px) rotateX(-90deg);
    transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s;
  }
}

%hover-transform-after{
  opacity: 1;
  visibility: visible;
  @media(min-width: 992px){
    max-width: 5000px;
    max-height: 5000px;
    transform: perspective(600px) rotateX(0deg);
    transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
  }
}

%float-left{
  float: left;
}

%float-right{
  float: right;
}

.hover-transform-before{
  @extend %hover-transform-before;
}

.hover-transform-after{
  @extend %hover-transform-after;
}

.open-left-mobile-menu,
.open-right-mobile-menu{
  @media(max-width: 992px){
    body{
      position: relative;
      overflow-x: hidden;
    }
    .mobile-overlay{
      display: block;
    }
    .open-menu-position{
      position: static !important;
    }
  }
}

.open-left-mobile-menu{
  @media(max-width: 992px){
    body{
      left: 400px;
    }
    .nav-search{
      // display: none;
    }
    .nav-main{
      position: absolute;
      top: 0;
      left: -400px;
      width: 400px;
      background: #192637;
      display: block;
    }
  }
  @media(max-width: 500px){
    body{
      left: 300px;
    }
    .nav-main{
      left: -300px;
      width: 300px;
    }
  }
  @media(max-width: 500px){
    body{
      left: 250px;
    }
    .nav-main{
      left: -250px;
      width: 250px;
    }
  }
}

.open-right-mobile-menu{
  @media(max-width: 992px){
    body{
      right: 400px;
    }
    .nav-search{
      position: absolute;
      top: 0;
      right: -400px;
      width: 400px;
      background: #192637;
      display: block;
      float: none;
      .dropdown{
        float: none;
        > a{
          display: none;
        }
      }
      .dropdown-menu{
        opacity: 1;
        position: static;
        width: 100%;
        box-shadow: none;
      }
    }
  }
  @media(max-width: 500px){
    body{
      right: 300px;
    }
    .nav-search{
      right: -300px;
      width: 300px;
    }
  }
  @media(max-width: 400px){
    body{
      right: 250px;
    }
    .nav-search{
      right: -250px;
      width: 250px;
    }
  }
}

.open-menu__button{
  position: relative;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: white(0);
  border: 1px solid white(0);
  // border-radius: 4px;
}

.open-menu__span{
  background: white(1);
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 3px;
  &:last-child{
    margin-bottom: 0;
  }
}

header.main{
  padding-bottom: 28px;
  padding-top: 22px;
  background: white(1);
}

.top-line-decorator{
  background: url(../img/img_top_line_decorator.jpg) top center repeat-Y;
  height: 3px;
}

.header-logo{
  &__link{
    margin-bottom: 14px;
  }
  &__image{

  }
  &__description{
    @include font-size(15);
  }
}

.click-block{
  padding-top: 12px;
  &__image{

  }
}

nav.main{
  background: $color-black;
}

.nav-main{
  float: left;
  @media(max-width: 992px){
    display: none;
  }
}

.first-menu{
  &__list{

  }
  &__item{
    // border-top: 2px solid transparent;
    float: left;
    @media(max-width: 992px){
      float: none;
    }
    &:first-child{
      .first-menu__link{
        padding-left: 15px !important;
      }
    }
  }
  &__link{
    border-top: 2px solid transparent;
    @include font-size(15);
    padding: 14px 19px 16px 10px;
    color: white(1);
    &:hover{
      border-color: $color-orange;
      color: $color-orange;
    }
    &:focus, &:active{
      color: white(1);
    }
  }
  &__has-menu{
    position: relative;
    &:hover, &:focus, &:active{
      > .first-menu__link{
        border-color: $color-orange;
        color: $color-orange;
      }
      > .second-menu__list{
        @extend %hover-transform-after;
        @media(max-width: 992px){
          display: block;
        }
      }
      &::after, &::before{
        background: $color-orange;
      }
    }
    &::after, &::before{
      position: absolute;
      content:"";
      background: white(1);
      height: 2px;
      width: 7px;
      top:50%;
      // margin-top: -3px;
      right: 8px;
    }
    &::before{
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
      right: 4px;
    }
  }
}

.second-menu{
  &__list{
    position: absolute;
    min-width: 200px;
    top: 100%;
    box-shadow: 1px 1px 1px 1px black(.3);
    @extend %hover-transform-before;
    z-index: 2;
    @media(max-width: 992px){
      position: static;
      display: none;
    }
  }
  &__item{
    // position: relative;
    &:last-child{
      .second-menu__link{
        border-bottom: none;
      }
    }
  }
  &__has-menu{
    position: relative;
    &:hover, &:focus, &:active{
      .second-menu__link{
        color: $color-orange;
      }
      &::after, &::before{
        background: $color-orange;
      }
      > .third-menu__list{
        @extend %hover-transform-after;
        @media(max-width: 992px){
          display: block;
        }
      }
    }
    &::after, &::before{
      position: absolute;
      content:"";
      background: white(1);
      height: 2px;
      width: 7px;
      top:50%;
      right: 10px;
      margin-top: -2px;
    }
    &::before{
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
      right: 10px;
      margin-top: 2px;
    }
  }
  &__link{
    @include font-size(15);
    background: rgba($color-black, .8);
    padding: 14px 25px 14px 15px;
    color: white(1);
    border-bottom: 1px solid $color;
    &:hover, &:focus, &:active{
      color: $color-orange;
    }
  }
}

.third-menu{
  &__list{
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 200px;
    @extend %hover-transform-before;
    z-index: 2;
    @media(max-width: 992px){
      position: static;
      display: none;
    }
  }
  &__item{
    &:last-child{
      .third-menu__link{
        border-bottom:none;
      }
    }
  }
  &__link{
   @include font-size(15);
   background: rgba($color-black, .8);
   padding: 14px 14px 14px 15px;
   color: white(1);
   border-bottom: 1px solid $color;
   &:hover, &:focus, &:active{
     color: $color-orange;
   }
  }
}

.nav-search{
  float: right;
  @media(max-width: 992px){
    display: none;
  }
  .dropdown{
    float: left;
    position: static !important;
  }
  .dropdown-menu{
    z-index: 1;
    border: none;
    margin: 0;
    border-radius: 0;
    display: block !important;
    @extend %hover-transform-before;
  }
  .open{
    .dropdown-menu{
      @extend %hover-transform-after;
    }
    .nav-search__find,
    .nav-search__login{
      border-color: $color-orange;
      color: $color-orange;
    }
  }
  &__find,
  &__login{
    color: white(1);
    border-top: 2px transparent solid;
    &:hover, &:focus, &:active{
      color: $color-orange;
      border-color: $color-orange;
    }
  }
  &__find{
    padding: 12px 4px 11px;
    @include font-size(20);
  }
  &__login{
    padding: 14px 20px 16px;
    @include font-size(15);
  }
}

.login-form,
.search-form{
  background: rgba(25,38,55,.8);
  // position: absolute;
  // top: 100%;
  left: 0px;
  right: 0px;
  @media(min-width: 992px){
    left: 15px;
    right: 15px;
  }
}

.login-form{
  color: white(1);
  &__login,
  &__password{
    border: 2px #6c707c solid;
    background: transparent;
    height: 46px;
    padding-left: 20px;
    margin-bottom: 20px;
    @include placeholder {
      color: white(1);
    }
    &:focus, &:active{
      border-color: white(1);
    }
  }
  &__login{

  }
  &__password{

  }
  &__description{
    font-weight: $light;
  }
  &__col{
    @media(min-width: 992px){
      width: 33.333333%;
      height: 100%;
      display: table-cell;
      vertical-align: top;
      position: relative;
      float: none;
    }
  }
  &__title{
    margin-bottom: 25px;
  }
  &__register{
    margin-bottom: 20px;
    padding: 12px;
    @media(min-width: 992px){
      position: absolute;
      bottom: 0;
      right: 15px;
      left: 15px;
      width: auto;
    }
  }
  &__btn{
    margin-bottom: 20px;
    padding: 12px;
  }
  &__restore{
    margin-top: 11px;
    color: $color-red;
    &:hover, &:focus, &:active{
      color: $color-red;
    }
    @media(max-width: 992px){
      margin-top: 0;
      text-align: center;
    }
  }
}

.search-form{
  padding: 10px 15px;
}

.search-form__form{

}
.search-form__ico{
  color: white(1);
  font-size: 20px;
  position: absolute;
  top: 6px;
  left: 10px;
}

.search-form__field{
  height: 40px;
  background: transparent;
  border: 1px $color-orange solid;
  color: white(1);
  padding-left: 40px;
  @include placeholder {
    color: white(1);
  }
}

.search-form__submit{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #192637;
  // border-width: 0 0 0 1px;
  border: 1px $color-orange solid;
  color: white(1);
  padding: 0 30px;
  &:hover, &:focus, &:active{
    background: $color-orange;
  }
  @media(min-width:992px){
    background: transparent;
  }
}

.nav-main__button-label,
.login-form__button-label{
  // color: white(1);
}

footer.main{
  background: $color-bold;
  @media(max-width: 768px){
    padding-bottom: 20px;
  }
}

.footer-subs{
  margin-top: 45px;
  border: 1px $color-black solid;
  padding: 6px 28px 14px;
}

.footer-subs__title{
  @include font-size(16);
  color: $color-orange;
}

.footer-subs__description{

}

.footer-subs__input{
  height: 34px;
  margin-top: 25px;
  padding-left: 20px;
  border: 1px #d9d9d9 solid;
}

.footer-subs__btn{
  margin-top: 25px;
}

.footer-social{

}

.footer-social__title{
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: $light;
  @include font-size(13);
}

.footer-social__item{
  padding-top: 37px;
  border-bottom: 1px $color-black solid;
  padding-bottom: 10px;
}

.footer-last-user,
.footer-tags{
  margin-bottom: 20px;
}

.footer-last-user{
  padding-top: 45px;
}

.footer-last-user__title,
.footer-tags__title{
  position: relative;
  margin-bottom: 37px;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -17px;
    background: $color-black;
    width: 68px;
    height: 1px;
  }
}

.footer-last-user__img{
  margin-bottom: 20px;
}

.footer-last-user__text{
  @include font-size(10);
  font-weight: $light;
  margin-bottom: 4px;
  color: #6C707C;
}

.footer-last-user__status{
  color: #47ac64;
  margin-left: 5px;
}

.footer-last-user__title{
  @include font-size(16);
  // margin-bottom: 0;
}

.footer-tags{
  padding-top: 45px;
  &__title{
    @include font-size(16);
  }
  &__item{
    @include font-size(11);
    color: #b9b9b9;
    // display: inline-block;
    padding: 8px 10px;
    background: #2a3b52;
    // border-radius: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    float: left;
    font-weight: $light;
    &:hover, &:focus, &:active{
      text-decoration: none;
      color: white(1);
      background: $color-orange;
    }
  }
  // &__buttons{
  //   margin-top: 20px;
  // }
  // &__show-text{

  // }
}

.show-all-tags{

}

.footer-copyright{
  background: $color-black;
  padding-top: 27px;
  padding-bottom: 27px;
}

.site-working{
  @extend %float-left;
  margin-right: 22px;
  @media(max-width: 1200px){
    display: table;
    margin: 0 auto 20px;
    float: none;
  }
  &__title{
    @include font-size(12);
    margin-right: 5px;
  }
  &__icon{
    @include font-size(20);
    margin-top: -5px;
    display: inline-block;
    margin-right: 2px;
  }
}

.copyright-text{
  @extend %float-left;
  @include font-size(12);
  margin-right: 15px;
  @media(max-width: 1200px){
    display: table;
    margin: 0 auto 20px;
    float: none;
  }
  &__item{
    @extend %float-left;
    @include font-size(12);
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
}

.footer-link{
  @extend %float-left;
  @media(max-width: 1200px){
    display: table;
    margin: 0 auto 20px;
    float: none;
  }
  &__item{
    @extend %float-left;
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    @include font-size(12);
    color: $color-orange;
    &:hover, &:focus, &:active{
      color: $color-orange;
    }
  }
}

.footer-ico{
  @extend %float-right;
  @media(max-width: 1200px){
    display: table;
    margin: 0 auto;
    float: none;
    margin-top: 7px;
  }
  &__item{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    text-align: center;
    line-height: 30px;
    background: #394553;
    color: white(1);
    width: 30px;
    height: 30px;
    margin-top: -7px;
    @include font-size(16);
    &:hover, &:focus, &:active{
      color: white(1);
      background: $color-orange;
    }
  }
}
