.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    background-size: 37em 7.9em;
}

.no-svg .icon:before {
    background-image: url("../img/sprite.png");
}

.icon.ico__logo:before {
    background-position: 0em 0em;
    width: 36.93em;
    height: 7.83em;
}

