$open-sans: 'Open Sans', sans-serif;
$regular: 400;
$light: 300;
$bold: 'Roboto Slab', serif;

//project color
$color: #6c707c;
$color-black: #192637;
$color-bold: #394553;
$color-light: #b1b2b7;
$color-orange: #ff690b;
$color-red: #ef4628;
$color-gray: #f1f1f1;

//company color
$color-vk: #5B7FA6;
$color-facebook: #3B5998;
$color-google: #D62408;
$color-mail: #168DE2;
$color-yandex: #F00;
$color-odnoklassniki: #FA890F;
