div(block="article-content")
  img(src="img/img_article_demo_image.png" alt="article demo image").img-responsive
  p <strong>ClipBucket v.2.7.5</strong> Rus является наиболее динамично развивающимся скриптом, который впервые был запущен как Youtube Clone, но теперь особенности и усовершенствования делают его наиболее универсальным, надежным и масштабируемым скриптом с новейшими функциями социальных сетей. Clipbucket v.2.7.3 Rus сочетает в себе гибкость, быстроту и удобство для посетителей портала.
  p <strong>Возможности :</strong>
  ul
    li Легкая настройка и интеграция
    li Поддержка изменений HQ видео и оптимизация
    li Web 2.0 и Ajaxified
    li Полностью настраиваемый
    li Социальная сеть
    li Высоко управляемая панель администрация
    li Пользовательские группы и категории
    li Много утилит для изменения видео (замедление,ускорение и пр.)
    li Лучшая система комментариев
    li Поддержка интегрирования Gravatar и jFusion

  p <strong> В комплекте:</strong>
  ul
    li Скрипт
    li Шаблоны
    li Плагины

  p <strong>Username: demo</strong>
  p <strong>Password: demo</strong>
