.clearfix(block="article-share")
  span(elem="label").text-bold Поделиться:

  ul(elem="list").menu-list
    li(elem="item"): a(elem="link" data-type="vk").goodshare.cur.vk: span(elem="ico").icon-vk
    li(elem="item"): a(elem="link" data-type="ok").goodshare.cur.odnoklassniki: span(elem="ico").icon-odnoklassniki
    li(elem="item"): a(elem="link" data-type="tw").goodshare.cur.twitter: span(elem="ico").icon-twitter
    li(elem="item"): a(elem="link" data-type="gp").goodshare.cur.gplus: span(elem="ico").icon-google-plus
    li(elem="item"): a(elem="link" data-type="fb").goodshare.cur.facebook: span(elem="ico").icon-facebook
    li(elem="item"): a(elem="link" data-type="pt").goodshare.cur.pinterest: span(elem="ico").icon-pinterest-p
    //- li(elem="item"): a(elem="link" data-type="vk").goodshare.cur.at: span(elem="ico").icon-at
    li(elem="item"): a(elem="link" data-type="bl").goodshare.cur.blogger: span(elem="ico").icon-blogger
    li(elem="item"): a(elem="link" data-type="tm").goodshare.cur.tumblr-1: span(elem="ico").icon-tumblr
    li(elem="item"): a(elem="link" data-type="en").goodshare.cur.evernote: span(elem="ico").icon-social-evernote
    li(elem="item"): a(elem="link" data-type="li").goodshare.cur.linkedin: span(elem="ico").icon-linkedin
    li(elem="item"): a(elem="link" data-type="rd").goodshare.cur.reddit: span(elem="ico").icon-reddit
