extends meta/_layout

block content
  include components/_hot-news

  .container
    .row.pr
      // основные блоки
      .col-md-8

        div(block="white-block")
          h4(elem="title") <span class="icon-bookmark"></span> Последние новости
          div(block="last-news")
            -for(var i = 0; i < 10; i++)
              div(elem="item")
                .row(elem="row")
                  .col-md-4(elem="col")
                    img(src="img/img_demo_last-news.jpg" alt="last news img" elem="img").img-responsive
                  .col-md-8(elem="col")
                    h2(elem="title").text-bold.db
                      a(href="#").dark-blue-link #{title[Math.floor(Math.random() * ((title.length-1) - 0 + 1)) + 0]}
                    include components/_news-metadata
                    span(elem="text").db #{textSecond[Math.floor(Math.random() * ((textSecond.length-1) - 0 + 1)) + 0]} <a href="#" class="link">Читать далее...</a>

          include components/_pagination

      // сайдбар
      .col-xs-4.visible-md.visible-lg

        // Выбор редакции
        include widgets/_editors-choice

        // Популярные новости
        include widgets/_popular-news

        //- Комментарии
        //- include widgets/_sidebar-comments

        //- Статистика сайта
        //- include widgets/_site-statistic

        // Голосование
        include widgets/_vote-widget

        //- География сайта
        //- include widgets/_sidebar-geography

