extends _layout

block content
  .container
    include ../components/breadcrumb/_breadcrumb

    div(block="white-block")
      h4(elem="title") <span class="icon-at"></span> Отправлен запрос на активацию

      div(elem="term-conditions")
        p(elem="text") <strong elem="bold">Запрос на регистрацию принят.</strong>
        p(elem="text") Администрация сайта требует реальности всех вводимых e-mail-адресов. <strong elem="bold">Через 10 минут (возможно и раньше)</strong> Вы получите письмо с инструкциями для следующего шага. Ещё немного, и Вы будете зарегистрированы на сайте. Если в течении этого времени Вы не получили письма с подтверждением, то возможно, оно попало в папку со спамом. Пожалуйста, проверьте содержимое этой папки. В противном случае повторите попытку, используя другой e-mail адрес или обратитесь к администратору сайта.

        .row(elem="row")
          .col-xs-6.col-md-4.col-md-offset-4.col-xs-offset-3(elem="col")
            a(href="#" elem="button").btn.btn-orange.fluid Закрыть
