extends _layout

block content
  .container
    include ../components/breadcrumb/_breadcrumb

    div(block="white-block")
      h4(elem="title") <span class="icon-lightbulb-o"></span> Общие правила поведения на портале веб мастеров Vseopro.ru

      div(block="term-conditions")
        p(elem="text") Начнем с того, что на сайте общаются сотни людей, разных религий и взглядов, и все они являются полноправными посетителями нашего сайта, поэтому если мы хотим чтобы это сообщество людей функционировало нам и необходимы правила. Мы настоятельно рекомендуем прочитать настоящие правила, это займет у вас всего минут пять, но сбережет нам и вам время и поможет сделать сайт более интересным и организованным.
        p(elem="text") Начнем с того, что на нашем сайте нужно вести себя уважительно ко всем посетителям сайта. Не надо оскорблений по отношению к участникам, это всегда лишнее. Если есть претензии - обращайтесь к Админам или Модераторам (воспользуйтесь личными сообщениями). Оскорбление других посетителей считается у нас одним из самых тяжких нарушений и строго наказывается администрацией. <strong class="term-conditions__bold">У нас строго запрещен расизм, религиозные и политические высказывания</strong>. Заранее благодарим вас за понимание и за желание сделать наш сайт более вежливым и дружелюбным.
        p(elem="text" mix="block:term-conditions elem:bold") На сайте строго запрещено:

        ul(elem="list")
          li(elem="list-item") сообщения, не относящиеся к содержанию статьи или к контексту обсуждения
          li(elem="list-item") оскорбление и угрозы в адрес посетителей сайта
          li(elem="list-item") в комментариях запрещаются выражения, содержащие ненормативную лексику, унижающие человеческое достоинство, разжигающие межнациональную рознь
          li(elem="list-item") спам, а также реклама любых товаров и услуг, иных ресурсов, СМИ или событий, не относящихся к контексту обсуждения статьи
          li(elem="list-item") публикация ссылок на сторонние ресурсы, как на форуме так и в комментариях

        p(elem="text") Давайте будем уважать друг друга и портал Vseopro.ru, на который Вы и другие читатели приходят за качественными материалами в сфере SEO и web программирования. Администрация сайта оставляет за собой право удалять комментарии или часть комментариев, если они не соответствуют данным требованиям.
        p(elem="text") При нарушении правил вам может быть дано предупреждение. В некоторых случаях может быть дан бан без предупреждений.
        p(elem="text") <strong elem="bold">Оскорбление</strong> администраторов или модераторов также караются <strong class="term-conditions__bold">баном</strong> - уважайте чужой труд.

        .row(elem="row")
          .col-xs-6.col-md-3.col-md-offset-3(elem="col")
            a(href="#" elem="button").btn.btn-orange.fluid Принимаю
          .col-xs-6.col-md-3(elem="col")
            a(href="#" elem="button").btn.btn-red.fluid Не принимаю
