extends _layout

block content
  .container
    include ../components/breadcrumb/_breadcrumb

    div(block="white-block")
      h4(elem="title") <span class="icon-user"></span> Регистрация нового пользователя

      form(block="term-conditions")
        p(elem="text") <strong class="term-conditions__bold">Здравствуйте, уважаемый посетитель нашего сайта!</strong>
        p(elem="text") Регистрация на нашем сайте позволит Вам быть его полноценным участником. Вы сможете добавлять новости на сайт, оставлять свои комментарии, просматривать скрытый текст и многое другое. В случае возникновения проблем с регистрацией, обратитесь к <a href="#" target="_blank">администратору</a> сайта.
        .row
          .col-md-6
            .row
              .col-xs-4
                .term-conditions__label-wrap
                  label(for="term-conditions__form-login").transform-middle Логин:<sup>*</sup>
              .col-xs-8
                .row-mini
                  .col-xs-7
                    input(type="text" placeholder="Логин").fluid#term-conditions__form-login.input
                  .col-xs-5
                    button(type="button").btn.btn-orange.fluid.term-conditions__check-login Проверить
            .row
              .col-xs-4
                .term-conditions__label-wrap
                  label(for="term-conditions__form-password").transform-middle Пароль:<sup>*</sup>
              .col-xs-8
                input(type="text" placeholder="Пароль").fluid#term-conditions__form-password.input
            .row
              .col-xs-4
                .term-conditions__label-wrap
                  label(for="term-conditions__form-doble-password").transform-middle Повторить пароль:<sup>*</sup>
              .col-xs-8
                input(type="text" placeholder="Повтор пароля").fluid#term-conditions__form-doble-password.input
          .col-md-6
            .row
              .col-xs-4
                .term-conditions__label-wrap
                  label(for="term-conditions__form-email").transform-middle Ваш e-mail:<sup>*</sup>
              .col-xs-8
                input(type="text" placeholder="Ваш e-mail").fluid#term-conditions__form-email.input
            .row
              .col-xs-4
                .term-conditions__label-wrap
                  label.transform-middle Вопрос:
              .col-xs-8
                .term-conditions__label-wrap
                  p.transform-middle Сколько будет 17+5=?
            .row
              .col-xs-4
                .term-conditions__label-wrap
                  label(for="term-conditions__form-answer").transform-middle Ответ:<sup>*</sup>
              .col-xs-8
                input(type="text" placeholder="Ответ").fluid#term-conditions__form-answer.input
        .row
          .col-xs-6.col-md-4.col-md-offset-4.col-xs-offset-3
            button(type="submit").btn.btn-orange.fluid.term-conditions__button Отправить
