.container-fluid(block="search-form")
  form(elem="form").pr
    span(elem="ico").icon-search
    input(type='search' placeholder="Введите текст для поиска" elem="field").fluid.no-outline
    button(type="submit" elem="submit").no-outline
      span.icon-arrow-right
