header.main
  .container
    .row
      .col-md-4
        .header-logo
          //- a(href="#").header-logo__link.db.no-underline.ico__logo.img-responsive
          a(href="index.html").header-logo__link.db.no-underline
            img(src="img/img_header_logo.svg" alt="logo image").header-logo__image.img-responsive
          span.header-logo__description.db Всё для веб-мастера! Всё для создания сайта!
      .col-md-8
        .click-block
          a(href="#").db
            img(src="http://placehold.it/750x70" alt="click image").click-block__image.img-responsive
