.pages-menu
  ul.clearfix.lsn.pl0.mb0
    li: a(href="index.html") Главная
    li: a(href="article.html") Внутренняя страница
    li: a(href="registration1.html") Рег. 1 экран
    li: a(href="registration2.html") Рег. 2 экран
    li: a(href="registration3.html") Рег. 3 экран
    li: a(href="catalog.html") Каталог
    li: a(href="search-result.html") Результаты поиска
    li: a(href="search-result-advansed.html") Результаты поиска (расширенный)
    li: a(href="user-settings.html") Личный кабинет (настройки)

  .pages-menu__close.cur
