header.main
  .container
    .row
      .col-md-4
        div(block="header-logo")
          a(href="index.html" elem="link").db.no-underline
            img(src="img/img_header_logo.svg" alt="logo image" elem="image")
            //- img(src="img/img_header_logo.svg" alt="logo image" elem="image").img-responsive
          span(elem="slogan").db Всё для веб-мастера! Всё для создания сайта!
      .col-md-8
        .click-block
          a(href="#").db
            img(src="https://unsplash.it/750/70/?random" alt="click image").click-block__image.img-responsive
