.container
  div(block="white-block")
    h1(elem="title") <span class="icon-home"></span> Добро пожаловать на сайт
    div(block="seo-text" data-collapsed-height="80")
      div(elem="inner")
        -for(var i = 0; i < 5; i++)
          p(elem="text") #{text[Math.floor(Math.random() * ((text.length-1) - 0 + 1)) + 0]}
