.seo-text{
  position: relative;
  &:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAATlBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////+QPFRFAAAAGnRSTlP9FAf17ubf1s3Eu7Clm5CFem9lWk9EOzIoIKzFPqsAAAAuSURBVAjXDcGFAcAgAAAg1t2h/v+ogrqsyiQKfp/X43Y5HXab1WI2GQ16nVYDZC3yAUlXWqZrAAAAAElFTkSuQmCC') repeat-x;
    @media(max-width:992px){
      display: none;
    }
  }
  @media(min-width:992px){
    border-bottom: $color-orange 1px solid;
  }
  &__inner{

  }
  &__text{
    // font-size: 13px;
    color: $color-main;
  }
  &__button{
    display: table ;
    width: 170px ;
    padding: 10px;
    @media(max-width:992px){
      display: none;
    }
  }
}
