.debug-select-ico
  span.icon-login
  span.icon-search
  span.icon-right
  span.icon-windows
  span.icon-android
  span.icon-apple
  span.icon-cc-visa
  span.icon-vk
  span.icon-facebook
  span.icon-gplus
  span.icon-rss
  span.icon-odnoklassniki
  span.icon-twitter
  span.icon-tag
  span.icon-user
  span.icon-home
  span.icon-lightbulb-o
  span.icon-trophy
  span.icon-calendar
  span.icon-comment
  span.icon-bookmark
  span.icon-folder-open
  span.icon-mail-alt
  span.icon-comment-1
  span.icon-chat-empty
  span.icon-network
  span.icon-users
  span.icon-github
  span.icon-globe-inv
  span.icon-eye
  span.icon-eye-off
  span.icon-chart-pie
  span.icon-chart-bar
  span.icon-user-2
  span.icon-users-1
  span.icon-skype
  span.icon-paper-plane
  span.icon-mail-1
  span.icon-comment-empty
  span.icon-location
  span.icon-venus-mars
  span.icon-cc-mastercard
  span.icon-graduation-cap
  span.icon-angle-left
  span.icon-at
  span.icon-plus
  span.icon-angle-right
  span.icon-chart-area
  span.icon-pinterest
  span.icon-blogger
  span.icon-tumblr-1
  span.icon-evernote
  span.icon-linkedin
  span.icon-reddit
  span.icon-pencil
  span.icon-cancel
  span.icon-paper-plane-empty
  span.icon-emo-laugh
  span.icon-star
  span.icon-star-empty
  span.icon-twitter-bird
  span.icon-pencil-alt
  span.icon-smile
