.affix-wrap
  .navbar.yamm.navbar-vseopro.nav-afix(data-spy="affix" data-offset-top="135" data-offset-bottom="200")
    .container
      .hidden-md.hidden-lg.pull-left(block="open-menu")
        button(type="button" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu-fixed-left" data-canvas="body" elem="button").no-outline.no-select.pull-left
          span.dib(elem="dib")
            -for(var i = 0; i < 3; i++)
              span(elem="span")
          span(elem="right-label").text-white Меню

      .hidden-md.hidden-lg.pull-right(block="open-menu")
        button(type="button" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu-fixed-right" data-canvas="body" elem="button").no-outline.no-select.pull-right
          span(elem="left-label").text-white Вход
          span.dib(elem="dib")
            -for(var i = 0; i < 3; i++)
              span(elem="span")

      .visible-md.visible-lg
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Classic
            ul.dropdown-menu(role='menu')
              li: a(tabindex='-1', href='#')  Action
              li: a(tabindex='-1', href='#')  Another action
              li: a(tabindex='-1', href='#')  Something else here

        ul.nav.navbar-nav.pull-right
          li.dropdown.yamm-fw
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.icon-search
            ul.dropdown-menu
              li
                include ../form-search/_form-search

          li.dropdown.yamm-fw
            a.dropdown-toggle(href='#', data-toggle='dropdown') <span class="icon-login"></span> Вход
            ul.dropdown-menu
              li
                include ../form-login/_form-login
