div(block="white-block")
  h5.mt0(elem="sidebar-title") <span class="icon-award"></span> Выбор редакции
  .pr(block="editors-choice")
    img(src="img/img_demo_sidebar_image.jpg" alt="editors choice img" elem="img")
    span(elem="text") Ай фон на запчасти подходи Ай фон на запчасти подходи Ай фон на запчасти подходи
