div(block="white-block")
  h5(elem="sidebar-title") <span class="icon-network"></span> Популярные новости
  div(block="popular-news")
    -for(var i = 0; i < 10; i++)
      div(elem="item")
        .row(elem="row")
          .col-xs-4(elem="col")
            img(src="img/img_popular_news.jpg" alt="popular news image" elem="image")
          .col-xs-8(elem="col")
            span.db.popular-news__text 3XLOVE - Скрипт сайта знакомств бла бла капе
            .row-mini(elem="row")
              .col-xs-6(elem="col")
                a(href="#" elem="text").link.text-overflow <span class="icon-user" elem="ico"></span> #{users[Math.floor(Math.random() * ((users.length-1) - 0 + 1)) + 0]}
              .col-xs-6(elem="col")
                a(href="#" elem="text").link.text-overflow <span class="icon-calendar" elem="ico"></span> #{time[Math.floor(Math.random() * ((time.length - 1) - 0 + 1)) + 0]}
