.white-block
  h5.white-block__sidebar-title <span class="icon-chat-empty"></span> Чат пользователей
  .sidebar-comments
    -for(var i = 0; i < 3; i++)
      .sidebar-comments__item
        .row-mini.media
          .col-xs-4.media-body.fn
            img(src="img/img_sidebar_comment_avatar.jpg" alt="img sidebar comment avatar").sidebar-comments__avatar
          .col-xs-8.media-right.media-middle.fn
            if dev
              span.db.sidebar-comments__autor <strong>Написал(а):</strong> <a href="#" class="link sidebar-comments__link">#{users[Math.floor(Math.random() * ((users.length-1) - 0 + 1)) + 0]}</a>
            else
              span.db.sidebar-comments__autor <strong>Написал(а):</strong> <a href="#" class="link sidebar-comments__link">admin</a>
            if dev
              span.db.sidebar-comments__time <strong>Дата:</strong> Вчера в #{time[Math.floor(Math.random() * ((time.length - 1) - 0 + 1)) + 0]}
            else
              span.db.sidebar-comments__time <strong>Дата:</strong> 23.18.1200
        .sidebar-chat__message
          small.sidebar-chat__text К новости: 3XLOVE - Скрипт <br> сайта знакомств бла бла капе <br> херово тут сидеть
  a(href="#").btn.btn-red.fluid.sidebar-chat__button Написать сообщение
