.white-block
  h5.white-block__sidebar-title <span class="icon-users"></span> Пользователи онлайн
  .user-online
    .row
      .col-xs-2
        span.icon-eye.user-online__icon
      .col-xs-9
        span.db.user-online__text Всего на сайте: <span class="user-online__label">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    .row
      .col-xs-2
        span.icon-eye-off.user-online__icon
      .col-xs-9
        span.db.user-online__text Невидимок: <span class="user-online__label">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    .row
      .col-xs-2
        span.icon-user-2.user-online__icon
      .col-xs-9
        span.db.user-online__text Пользователей: <span class="user-online__label">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    .row
      .col-xs-2
        span.icon-github.user-online__icon
      .col-xs-9
        span.db.user-online__text Роботов: <span class="user-online__label">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
