div(block="news-last")
  -for(var i = 0; i < 10; i++)
    div(elem="item")
      .row(elem="row")
        .col-md-4(elem="col")
          img(src="https://unsplash.it/209/165/?random" alt="last news img" elem="img").img-responsive
        .col-md-8(elem="col")
          h2(elem="title").text-bold.db
            a(href="#").dark-blue-link.db #{text[Math.floor(Math.random() * ((text.length-1) - 0 + 1)) + 0]}
          include ../news-metadata/_news-metadata
          p(elem="text") #{text[Math.floor(Math.random() * ((text.length-1) - 0 + 1)) + 0]}
          //- a(href="#" elem="read-more").link Читать далее...
