.popular-news{
  &__media{
    // height: 70px;
    border-bottom: 1px solid $color-gray;
    margin-bottom: 0px + $base-margin;
    padding-bottom: 0px + $base-margin;
    &:last-child{
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &__media-left{
    padding: 0;
  }
  &__media-right{
    padding-left: $base-margin + px;
  }
  &__ico{
    color: darken($color-gray, 30%);
    margin-right: 5px;
  }
  &__image{
    // position: absolute;
    // top: 0;
    // left: 0;
  }
  &__user{
    // margin-top: 4px;
    // line-height: 16px;
    // margin-bottom: 8px;
    // float: left;
    // width: 50%;
    // padding-right: 5px;
  }
  &__time{
    // margin-top: 4px;
    // line-height: 16px;
    // margin-bottom: 8px;
    // float: left;
    // width: 50%;
    // padding-left: 5px;
  }
  &__title{
    // margin-top: -4px;
    // line-height: 16px;
    // margin-bottom: 8px;
    // padding-left: 90px;
    @include ritm(2, false, true, true);
    color: $color-main;
    &:hover{
      color: $color-main;
    }
  }
  &__metadata{
    // padding-left:  90px;
    margin-top: 0px + $base-margin;
    line-height: 0px + $base-line-height;
  }
}
