footer(block="article-footer")
  ul(block="article-footer-meta").lsn.pl0.mb0
    li(elem="item").dib
      a(href="#" elem="link").text-bold.text-underline Добавить в закладки
      span(elem="icon").icon-user
      span(elem="text") 1231231
    li(elem="item").dib
      a(href="#" elem="link").text-bold.text-underline Подписаться на новость
      span(elem="icon").icon-calendar
      //- span(elem="text") 1231231
    li(elem="item").dib
      a(href="#" elem="link").text-bold.text-underline Мне нравиться
      span(elem="icon").icon-comment
      span(elem="text") 08080

