div(block="search-result-meta")
  ul(elem="list").lsn.pl0.mb0
    li(elem="item").dib
      span(elem="icon").icon-user
      a(href="#" elem="link") Admin
    li(elem="item").dib
      span(elem="icon").icon-calendar
      a(href="#" elem="link") 03.05.2510
    li(elem="item").dib
      span(elem="icon").icon-eye
      a(href="#" elem="link") 1233
    li(elem="item").dib
      span(elem="icon").icon-comment
      a(href="#" elem="link") 1312
    li(elem="item").dib
      span(elem="icon").icon-folder-open
      a(href="#" elem="link") Другие CMS
      span.icon-angle-right
      a(href="#" elem="link") Мультимедиа
