.login-form{
  background: rgba($color-black,.8);
  color: white(1);
  padding-top: $base-margin + px;
  padding-bottom: $base-margin + px;
  &__login,
  &__password{
    border: 2px $color-main solid;
    background: transparent;
    height: 46px;
    padding-left: 20px;
    margin-bottom: 20px;
    color: white(1);
    &::placeholder {
      color: white(1);
    }
    &:--enter{
      border-color: white(1);
    }
  }
  &__login{

  }
  &__password{

  }
  &__description{
    margin-bottom: $base-margin + px;
  }
  &__col{
    @media(min-width: 992px){
      width: 33.333333%;
      height: 100%;
      display: table-cell;
      vertical-align: top;
      position: relative;
      float: none;
    }
  }
  &__title{
    margin-bottom: 25px;
    font-size: 22px;
    font-family: $bold;
  }
  &__register{
    margin-bottom: 20px;
    padding: 12px;
    &.mb0{
      margin-bottom: 0 !important;
    }
    @media(min-width: 992px){
      position: absolute;
      bottom: 0;
      right: 15px;
      left: 15px;
      width: auto;
    }
  }
  &__btn{
    margin-bottom: 20px;
    padding: 12px;
    &.mb0{
      @media(min-width: 992px){
        margin-bottom: 0 !important;
      }
    }
  }
  &__restore{
    // margin-top: 11px;
    // color: $color-red;
    // margin-top: 11px;
    color: #ef4628;
    line-height: 45px;
    text-align: center;
    &:hover{
      color: $color-red;
    }
    @media(max-width: 992px){
      margin-top: 0;
      text-align: center;
      margin-bottom: 11px;
    }
  }
}
