ol.breadcrumb.visible-md.visible-lg
  li: a(href='#') Главная
  li: a(href='#') Продвижение сайтов
  li: a(href='#') Услуги и центы
  li: a(href='#') Улучшение продающих качеств сайтов
  li.active ClipBucket v.2.7.5 Rus + All Plugins + All

.breadcrumb-replacer.visible-xs.visible-sm
