.sidebar-updates{
  &__ya-color{
    color: $color-red;
    &_big{
      font-size: 30px;
      line-height: 45px;
    }
  }
  &__google-color{
    color: #0c00ff;
    &_big{
      font-size: 30px;
      line-height: 45px;
    }
  }
  &__text{
    color: $color-black;
  }
  &__time{
    color: darken($color-gray, 30%);
    &-orange{
      color: $color-orange;
    }
  }
  &__media{
    margin-top: 5px;
  }
  &__media-body{
    // margin-bottom: 0;
  }
  &__media{
    margin-bottom: 15px;
  }
}
