div(block="white-block")
  h5(elem="sidebar-title") <span class="icon-trophy"></span> Выбор редакции
  .pr(block="editors-choice")
    img(src="https://unsplash.it/300/263/?random" alt="editors choice img" elem="img")
    div(elem="text-wrap")
      span(elem="text").db #{text[Math.floor(Math.random() * ((text.length-1) - 0 + 1)) + 0]}
