#mobile-menu{
  @media(min-width: 992px){
    // display: none;
  }
  .panel{
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
  }
  .list-group-item{
    background: $color-black;
    color: white(1);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    padding-right: 40px;
    border-bottom: 1px white(1) solid;
    &:first-child, &:last-child{
      border-radius: 0;
    }
  }
  .mobile{
    &__link__first{
      &:hover{
        color: white(1);
        background: $color-orange;
      }
      &[aria-expanded="true"]{
        color: white(1);
        background: $color-orange;
      }
    }
    &__link__second{
      background: $color-bold;
      &[aria-expanded="true"]{
        color: white(1);
        background: $color-orange;
      }
    }
    &__link__third{
      background: $color-main;
    }
    &__has-menu{
      position: relative;
      // background: red;
      &:before, &:after{
        position: absolute;
        content: '';
        right: 22px;
        top: 50%;
        // margin-top: 0px;
        background: white(1);
        height: 1px;
        width: 10px;
      }
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
        right: 15px;
      }
      &[aria-expanded="true"]{
        &:before{
          // transform: rotate(45deg);
          right: 15px;
        }
        &:after{
          // transform: rotate(-45deg);
          right: 21px;
        }
      }
    }
  }
}
