extends meta/_layout

block content
  include components/_hot-news

  .container
    .row
      .col-md-8
        .white-block
          h1.white-block__title.mt0 ClipBucket v.2.7.5 Rus + All Plugins + All
          article.article
            include components/_article-header
            include components/_article-content
            include components/_article-share
            include components/_article-footer

        include components/_click-block

        div(block="white-block")
          h4(elem="title") <span class="icon-bookmark"></span> Похожие новости в этой категории
          div(block="similar-news")
            .row(elem="row")
              -for(var i = 0; i < 4; i++)
                .col-xs-12.col-sm-6.col-md-6.col-lg-3(elem="col")
                  a(href="#" elem="link").db.text-center.text-underline
                    img(src="img/img_demo_similar_news.png" alt="img demo similar news" elem="img").table-center
                    span(elem="text").text-bold Clipbucket V2.7.3

        div(block="white-block")
          h4(elem="title") <span class="icon-comment-1"></span> Комментарии
          div(block="comment-block")
            -for(var i = 0; i < 5; i++)
              div(elem="item")
                include components/_comment-meta
                span(elem="text") #{text[Math.floor(Math.random() * ((text.length-1) - 0 + 1)) + 0]}

        a(href="#").btn.btn-orange.btn-getMoreComments.table-center Показать предыдущие комментарии

        .white-block
          h4.white-block__title.mt0 <span class="icon-plus"></span> Добавить комментарий

      .col-xs-4.visible-md.visible-lg

        // Мы рекомендуем
        include widgets/_editors-choice

        // Популярные новости
        include widgets/_popular-news

        // Голосование
        include widgets/_vote-widget

        //- Чат пользователей
        //- include widgets/_sidebar-chat

        //- Комментарии
        //- include widgets/_sidebar-comments

        //- Пользователи онлайн
        //- include widgets/_user-online

        //- Статистика сайта
        //- include widgets/_site-statistic

