extends meta/_layout

block content
  include components/_hot-news

  .container
    .row
      .col-md-8
        .white-block
          h1.white-block__title.mt0 ClipBucket v.2.7.5 Rus + All Plugins + All
          article.article
            include components/_article-header
            include components/_article-content
            include components/_article-footer

        include components/_click-block

        div(block="white-block")
          h4(elem="title") <span class="icon-bookmark"></span> Похожие новости в этой категории
          div(block="similar-news")
            .row(elem="row")
              -for(var i = 0; i < 4; i++)
                .col-xs-12.col-sm-6.col-md-6.col-lg-3(elem="col")
                  a(href="#" elem="link").db.text-center.text-underline
                    img(src="img/img_demo_similar_news.png" alt="img demo similar news" elem="img").table-center
                    span(elem="text").text-bold Clipbucket V2.7.3

        div(block="white-block")
          h4(elem="title") <span class="icon-comment-1"></span> Комментарии
          div(block="comment-block")
            -for(var i = 0; i < 5; i++)
              div(elem="item")
                ul(block="comment-meta").lsn.pl0.mb0
                  li(elem="item").dib
                    img(src="img/img_sidebar_comment_avatar.jpg" alt="avatar" elem="avatar" width="50" height="50")
                  li(elem="item").dib
                    span(elem="icon").icon-user
                    a(href="#" elem="link") Admin
                  li(elem="item").dib
                    span(elem="icon").icon-calendar
                    a(href="#" elem="link") 03.05.2510
                  li(elem="item").dib
                    span(elem="icon").icon-comment
                    a(href="#" elem="link") Сообщений: 5
                  li(elem="item").dib
                    span(elem="icon").icon-bookmark
                    a(href="#" elem="link") Новостей: 5

                span(elem="text") Шаблон построен на основе блочной сетки (CSS Grid), что позволяет без особых усилий менять структуру страницы (при необходимости), а так же задавать более сложный каркас для сайта, чем сквозные 2х, 3х колоночные макеты.

        a(href="#").btn.btn-orange.btn-getMoreComments.table-center Показать предыдущие комментарии

        .white-block
          h4.white-block__title.mt0 <span class="icon-plus"></span> Добавить комментарий

      .col-xs-4.visible-md.visible-lg

        // Мы рекомендуем
        include widgets/_editors-choice

        // Популярные новости
        include widgets/_popular-news

        // Голосование
        include widgets/_vote-widget

        //- Чат пользователей
        //- include widgets/_sidebar-chat

        //- Комментарии
        //- include widgets/_sidebar-comments

        //- Пользователи онлайн
        //- include widgets/_user-online

        //- Статистика сайта
        //- include widgets/_site-statistic

