nav.pagination.pr.db
  a(href="#").pagination-previous__button.db.disabled
  ul.pagination-list.lsn.mb0.clearfix.table-center
    li.pull-left.pagination-list__item.active
      a(href='#').pagination-list__link.db 1
    li.pull-left.pagination-list__item
      a(href='#').pagination-list__link.db 2
    li.pull-left.pagination-list__item
      a(href='#').pagination-list__link.db 3
    li.pull-left.pagination-list__item
      a(href='#').pagination-list__link.db 4
    li.pull-left.pagination-list__item
      a(href='#').pagination-list__link.db 5
    li.pull-left.pagination-list__item
      span.pagination-list__link.db ...
    li.pull-left.pagination-list__item
      a(href='#').pagination-list__link.db 100
  a(href="#").pagination-next__button.db
