.container
  .div(block="footer-subs")
    .row(elem="row")
      .col-md-7(elem="col")
        div(elem="wrap")
          .transform-middle(elem="transform")
            span(elem="title").db.text-uppercase Подписаться на наши еженедельные новости
            p(elem="description").text-white Введите Ваш E-Mail и выберети категорию в открывшимся окне
      .col-md-5(elem="col")
        div(elem="wrap")
          .transform-middle(elem="transform")
            form(elem="form")
              .row(elem="row")
                .col-xs-9(elem="col")
                  input(type="text" placeholder="Email" elem="input").fluid.no-outline
                .col-xs-3(elem="col")
                  button(type="submit" elem="btn").btn.btn-orange.fluid.no-outline ОK
