.footer-subs{
  margin-top: 45px;
  border: 1px black(1) solid;
  padding: 10px 30px;
  &__wrap{
    height: 80px;
  }
  &__title{
    font-size: 16px;
    color: $color-orange;
    // font-size: 22px;
    font-family: $roboto;
    // margin-top: 20px;
    margin-bottom: 10px;
  }
  &__description{

  }
  &__input{
    height: 40px;
    // margin-top: 25px;
    padding-left: 20px;
    border: 1px $color-gray solid;
  }
  &__btn{
    padding: 9px 0;
  }
}
