div(block="news-important")
  .row(elem="row")
    .col-md-6(elem="col")
      img(src="img/img_important_news.png" alt="tab news image" elem="img").img-responsive
    .col-md-6(elem="col")
      h2.text-bold(elem="title")
        a(href="#" elem="link").db.dark-blue-link #{text[Math.floor(Math.random() * ((text.length-1) - 0 + 1)) + 0]}
      include ../news-metadata/_news-metadata
      p(elem="description") Дная затоплен служба Яндекс. ываыдвшао,  Рефераты предназначена  затоплен служба затоплен служба  ..фывфывфыв фывфы. Рефераты предназначена  затоплен Яндекспре дназначена  затоплен Яндекс.
      a(href="#" role="button" elem="button").btn.btn-orange.db Читать подробнее
