footer.main.visible-lg.visible-md
  .footer-subs
    .container
      .row
        .col-md-8
          .footer-subs__wrap
            .transform-middle
              span.db.text-uppercase.footer-subs__title Подписаться на наши еженедельные новости
              p.footer-subs__description.text-white Введите Ваш E-Mail и выберети категорию в открывшимся окне.
        .col-md-4
          .footer-subs__wrap
            .transform-middle
              form
                .row
                  .col-xs-8
                    input(type="text" placeholder="Email").fluid.footer-subs__input.no-outline
                  .col-xs-4
                    button(type="submit").btn.btn-orange.footer-subs__btn.fluid.no-outline ОK

  .footer-social
    .container
      .row
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          .footer-social__item
            .row
              .col-xs-7
                p.text-white.footer-social__title Мы в твиттере
              .col-xs-5
                a(href="#").btn.btn-orange.pull-right Перейти
          .footer-social__block
            img(src="img/img_270_330.png" alt="social img").img-responsive
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          .footer-social__item
            .row
              .col-xs-7
                p.text-white.footer-social__title Мы в Facebook
              .col-xs-5
                a(href="#").btn.btn-orange.pull-right Перейти
          .footer-social__block
            img(src="img/img_270_330.png" alt="social img").img-responsive
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          .footer-social__item
            .row
              .col-xs-7
                p.text-white.footer-social__title Мы Вконтакте
              .col-xs-5
                a(href="#").btn.btn-orange.pull-right Перейти
          .footer-social__block
            img(src="img/img_270_330.png" alt="social img").img-responsive
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          .footer-social__item
            .row
              .col-xs-7
                p.text-white.footer-social__title Мы в Одноклассниках
              .col-xs-5
                a(href="#").btn.btn-orange.pull-right Перейти
          .footer-social__block
            img(src="img/img_270_330.png" alt="social img").img-responsive

  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .footer-last-user
          p.footer-last-user__title.text-white <span class="icon-users-1"></span> Последние посетители
          .row
            -for(var i = 0; i < 15; i++)
              .col-xs-6.col-sm-6.col-md-6.col-lg-4
                .row
                  .col-xs-6
                    .footer-last-user__img
                      img(src="img/img_67_67.png" alt="last user img").img-responsive
                  .col-xs-6
                    span.db.footer-last-user__text сейчас
                      span(class="footer-last-user__status #{ i == 4 ? 'off' : ''}") #{ i == 4 ? 'OFF' : 'ON'}
                    span.db.footer-last-user__text Ник Test
                    span.db.footer-last-user__text Пользователи
                    span.db.footer-last-user__text Был в 10:00

      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .footer-tags.clearfix
          p.footer-tags__title.text-white <span class="icon-tag"></span> Теги сайта
          -for(var i = 0; i < 50; i++)
            a(href="#").db.footer-tags__item Страница #{i * 33}
        .show-all-tags
          //- a(href="").btn.btn-red Страница
          a(href="").btn.btn-orange Показать все теги

.footer-copyright
  .container
    .site-working.clearfix
      span.pull-left.site-working__title.text-white Сайт работает в
      ul.pl0.mb0.lsn.clearfix.pull-left
        li.pull-left: span.icon-firefox.text-white.site-working__icon
        li.pull-left: span.icon-chrome.text-white.site-working__icon
        li.pull-left: span.icon-opera.text-white.site-working__icon
        li.pull-left: span.icon-ie.text-white.site-working__icon

    ul.lsn.pl0.mb0.copyright-text
      li.text-white.copyright-text__item Copyright 2015 г.
      li.text-white.copyright-text__item «Vseopro.ru»
      //- li.text-white.copyright-text__item Яндекс.метрика
      //- li.text-white.copyright-text__item.text-uppercase Анализ сайта

    ul.lsn.pl0.mb0.footer-link.clearfix
      li.footer-link__item
        a(href="#").footer-link__link.db Карта сайта
      li.footer-link__item
        a(href="#").footer-link__link.db Обратная связь
      li.footer-link__item
        a(href="#").footer-link__link.db Правообладателям
      li.footer-link__item
        a(href="#").footer-link__link.db Заказ рекламы

    ul.lsn.pl0.mb0.footer-ico
      li.pull-left.footer-ico__item
        a(href="#").footer-ico__link.db.vk
          span.icon-vk
      li.pull-left.footer-ico__item
        a(href="#").footer-ico__link.db.odnoklassniki
          span.icon-odnoklassniki
      li.pull-left.footer-ico__item
        a(href="#").footer-ico__link.db.twitter
          span.icon-twitter
      li.pull-left.footer-ico__item
        a(href="#").footer-ico__link.db.google
          span.icon-gplus
      li.pull-left.footer-ico__item
        a(href="#").footer-ico__link.db.facebook
          span.icon-facebook
      li.pull-left.footer-ico__item
        a(href="#").footer-ico__link.db.rss
          span.icon-rss
