nav.main
  .container
    .row
      .nav-main.pull-left
        ul.lsn.pl0.mb0.clearfix.first-menu__list
          li.pull-left.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Главная
          li.pull-left.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Популярные cms
          li.pull-left.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Другие
          li.pull-left.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Веб-мастеру
          li.pull-left.first-menu__item.first-menu__has-menu
            a(href="#").db.no-underline.cur.no-select.first-menu__link Игры
            ul.second-menu__list.pl0.mb0
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
          li.pull-left.first-menu__item.first-menu__has-menu
            a(href="#").db.no-underline.cur.no-select.first-menu__link Сервисы
            ul.second-menu__list.pl0.mb0
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
          li.pull-left.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Платное
          li.pull-left.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Помощь сайту
    .nav-search.pull-right
