div(block="white-block")
  h5(elem="sidebar-title") <span class="icon-comment-1"></span> Комментарии
  div(block="sidebar-comments")
    -for(var i = 0; i < 10; i++)
      .row-mini(elem="item")
        .col-xs-4(elem="col")
          img(src="http://loremflickr.com/85/80/all" alt="img sidebar comment avatar" elem="avatar").img-responsive
        .col-xs-8(elem="col")
          span(elem="autor").db.text-overflow <strong elem="bold">Написал(а):</strong> <a href="#" class="link" elem="link">#{users[Math.floor(Math.random() * ((users.length - 1) - 0 + 1)) + 0]}</a>
          span(elem="time").db <strong elem="bold">Дата:</strong> Вчера в #{time[Math.floor(Math.random() * ((time.length - 1) - 0 + 1)) + 0]}
          span(elem="comment").db <strong elem="bold">К новости:</strong> <span class="cur" data-toggle="tooltip" data-placement="top" title="Дная затоплен служба Яндекс. ываыдвшао, Рефераты предназначена ываыва ываыва ываыва ываываварв ываыва затоплен служба затоплен служба">3XLOVE - Скрипт сайта знакомств сайта знакомств</span>

