.sidebar-comments{
  &__avatar{
    // @extend %fluid;
    // position: absolute;
    // top: 0;
    // left: 0;
  }
  &__media{
    border-bottom: 1px #eee solid;
    // margin-top: 20px;
    margin-bottom: $base-margin + px;
    padding-bottom: $base-margin + px;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &__media-right{
    padding-left: $base-margin + px;
  }
  &__media-left{
    padding: 0px;
    width: 80px;
  }
  &__autor,
  &__time,
  &__comment{
    font-size: 12px;
    line-height: 0px + $base-line-height;
    // padding-left: 95px;
  }
  &__autor{
    // margin-top: -4px;

  }
  &__time{

  }
  &__comment{
    // margin-top: 6px;
    @include ritm(2, false, false, true);
  }
  &__link{
    font-size: 12px;
  }
  &__text{
    // color: $color-black;
  }
  &__bold{
    font-size: 12px;
  }
}
