.white-block
  h5.white-block__sidebar-title <span class="icon-login"></span> Панель управления
  form.sidebar-login-form
    input(type="text" placeholder="Логин").fluid.sidebar-login-form__input.no-outline
    input(type="password" placeholder="Пароль").fluid.sidebar-login-form__input.no-outline
    .clearfix.sidebar-login-form__link-text
      .pull-left
        input(type="checkbox")#another-computer
        label(for="another-computer").no-select.sidebar-login-form__label Чужой компьютер
      .pull-right
        a(href="#").link.text-line.db.sidebar-login-form__forgot Забыли пароль
    .row
      .col-xs-6
        button(type="submit").btn.btn-orange.fluid.sidebar-login-form__enter Войти
      .col-xs-6
        a(href="#" role="button").btn.btn-red.fluid.db.sidebar-login-form__register Регистрация
