.white-block
  h5.white-block__sidebar-title <span class="icon-mail-alt"></span> Подписка
  .sidebar-subscribe
    img(src="img/img_sidebar_subscribe.jpg" alt="sidebar subscribe img").sidebar-subscribe__image.table-center.img-responsive
    a(href="#").btn.btn-orange.fluid.sidebar-subscribe__button Подписаться на рассылку
